body{
    background: whitesmoke;
}

.put_space{
    flex: 1 1 auto;
}

.design_card{
    margin: 15%;
    max-width: 450px;
    background: white;
    color: black;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 85%;
  }
  
  .example-full-width {
    width: 100%;
  }
  