<div class="page_title_row">
    <div *ngIf="organisationProfile">
        <small>
            <a [routerLink]="[ '/organisation' ]" class="link_color">
                {{organisationProfile.name}}</a>
            > My Products
        </small>
    </div>
    <span class="page_title_row_spacer"></span>
    <div>
        <button mat-icon-button aria-label="add icon" (click)="openDialog()" title="New product">
            <mat-icon class="add_icon">add_circle</mat-icon>
        </button>
    </div>
</div>
<div class="page_content" *ngIf="organisationProducts;else templateName" class="container" fxLayout="row"
    fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div *ngFor="let product of organisationProducts">
        <mat-card class="card-picture">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{ product.productName}}</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="image(product)" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    {{ product.descr }}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<ng-template #templateName>
    <h1>No products</h1>
</ng-template>