.link_color {
  color: #851313;
}

.add_icon {
  color: #851313;
}

.page_title_row {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  /* padding: 8px 20px; */
}

.page_title_row_spacer {
  flex: 1 1 auto;
}

.page_content {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  justify-content: left;
  padding: 8px;
}

.page_empty_content {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 8px;
}

.card-picture {
  max-width: auto;
  margin-bottom: 2%;
}

.container {
  min-height: 100%;
  width: 100%;
}