.link_color {
  color: #851313;
}

.add_icon {
  color: #851313;
}

.page_title_row {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  /* padding: 8px 20px; */
}

.page_title_row_spacer {
  flex: 1 1 auto;
}
